.App{
    margin: 0 auto;
    padding: 2rem;
    min-height: 100svh;
    display: flex;
    gap:2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: #ffffff;
}

.tasks-div{
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: flex-start;
}

input[type="text"]{
    margin-right: 1rem;
    padding: 0.5rem;
    border: none;
    outline: 0;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="text"]:focus{
    outline: 2px solid grey;
    outline-offset: 2px;
}

button{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ffffff;
}

button:hover{
    outline: 2px solid grey;
    background-color: transparent;
    color: #ffffff;
}

.checkbox{
    cursor: pointer;
    background-color: green;
    padding: 0.5rem;
    width: 18px;
    height: 18px;
}

.task{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.task > button:nth-child(odd){
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: rgb(220, 204, 29);
}

.task > button:nth-child(odd):hover{
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    outline:2px solid rgb(220, 204, 29);
    color: #ffffff;
    background-color: transparent;
}

.task > button:nth-child(even){
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: rgb(255, 0, 0);
}

.task > button:nth-child(even):hover{
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    outline:2px solid rgb(255, 0, 0);
    color: #ffffff;
    background-color: transparent;
}

span{
    font-size: 4rem;
}